<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="Content-type" content="text/html; charset-utf-8" />
    <title>project 2.0 </title>
    
    </head>
    <body>
        

        <table width ="100%" height="60" border="0" cellspacing="5" cellpadding="5" bgcolor="#000000">
            <tr>
                <td align="left" >
                    
                    <table width="547" border="0" align="center" cellpadding="1" cellspacing="1" >




                        <td width="96"><font face="Verdana, Geneva ,sans-serif" color="white"><h3>HOME</h3></font></td>
                        <td width="96"><font face="Verdana, Geneva ,sans-serif" color="white"><h3>PREDICTION</h3></font></td>
                        <td width="96"><font face="Verdana, Geneva ,sans-serif" color="white"><h3>ABOUT US</h3></font></td>


            

                    </table>
                    
                </td>

            </tr>
            
            

        </table>
        <table width ="100%" height="90" border="0" cellspacing="5" cellpadding="5" bgcolor="#f0f0f0">
            <tr>
                <td align="center" >
                    
                    <table width="547%" align="center" ><font face="Verdana",Geneva,sans-serif color="BLACK" size="40" ><strong> IPL- SCORE PREDICTION</strong></table>
                   
  
                </td>
            </tr>

        </table>
        <table width="100%" height="90" border="0" cellspacing="5" cellpadding="5" bgcolor="#f0f0f0">
            <tr>
                <td align="center">
                    <button type="button" onclick="window.location.href='index.html'">IPL SCORE Prediction</button>
                </td>
            </tr>
        </table>


        <table width ="100%" height="90" border="0" cellspacing="5" cellpadding="5" bgcolor="#f0f0f0">
            <tr>
                <td align="center" ><img src="https://media.sportstiger.com/media/ipl-2024-sportstiger-1705913536629-original.jpg" width="=900",height="300">
            
            </tr>


        </table>
        <table width ="100%" height="236" border="0" cellspacing="5" cellpadding="5" bgcolor="black">
            <tr>
                <td height="72" align="context" valign="top">
                    <table width ="100%"  border="1" bordercolor="#cccccc" cellspacing="0" cellpadding="8" bgcolor="#f0f0f0">
                        <tr>
                            <td <td width="268" ><font face="Verdana",Geneva,sans-serif color="BLACK" size="3" ><strong> ABOUT US</strong></font></td>
                        
                            <td width="600" ><font face="Verdana",Geneva,sans-serif color="BLACK" size="5" ><strong> SCHEDULE</strong></font></td>
                            <td width="600" ><font face="Verdana",Geneva,sans-serif color="BLACK" size="5" ><strong> SERVICE</strong></font></td>
                   

                        </tr>
                        <tr>
                            <td> <font face="Verdana",Geneva,sans-serif color="BLACK" size="3" >we are passionate cricket fans who love the thrill of the IPL. We've developed this app to combine that passion with the power of data science. By leveraging complex algorithms and historical data, we aim to provide you with informed predictions about upcoming IPL matches. Remember, cricket is a sport with a large element of surprise, but our app can give you that extra edge to enhance your enjoyment of the game.</font></td>
                            <td><font face="Verdana",Geneva,sans-serif color="BLACK" size="3" >  2024 Indian Premier League
                                T20 1 of 21
                                Fri, 22 Mar, 8:00 pm  <br>
                                
                                CSK
                                
                                RCB
                                T20 2 of 21
                                Sat, 23 Mar, 3:30 pm<br>
                                
                                PBKS
                                
                                DC
                                T20 3 of 21
                                Sat, 23 Mar, 7:30 pm<br>
                                
                                KKR
                                
                                SRH
                                T20 4 of 21
                                24 Mar, 3:30 pm <br>
                                
                                RR
                                
                                LSG
                                T20 5 of 21
                                24 Mar, 7:30 pm<br>
                                
                                GT
                                
                                MI
                                T20 6 of 21
                                25 Mar, 7:30 pm<br>
                                
                                RCB
                                
                                PBKS
                                All times are in India Standard Time<br>

                                SAT, MAR 09 2024
Sri Lanka tour of Bangladesh, 2024Bangladesh vs Sri Lanka, 3rd T20I
Sylhet International Cricket Stadium, Sylhet
2:30 PM
09:00 AM GMT / 03:00 PM LOCAL <br>
Australia tour of New Zealand, 2024New Zealand vs Australia, 2nd Test, Day 2
Hagley Oval, Christchurch
3:30 AM (Mar 09)
10:00 PM GMT (Mar 08) / 11:00 AM LOCAL<br>
SUN, MAR 10 2024
Malaysia Open T20I Championship, 2024Bahrain vs Vanuatu, 9th Match
Bayuemas Oval, Kuala Lumpur
7:15 AM
01:45 AM GMT / 09:45 AM LOCAL
Malaysia vs Tanzania, 10th Match
Bayuemas Oval, Kuala Lumpur
11:15 AM
05:45 AM GMT / 01:45 PM LOCAL
Hong Kong T20I Tri-Series, 2024Hong Kong vs Nepal, 1st Match
Mission Road Ground, Mong Kok
11:00 AM
05:30 AM GMT / 01:30 PM LOCAL
Australia tour of New Zealand, 2024New Zealand vs Australia, 2nd Test, Day 3
Hagley Oval, Christchurch
3:30 AM (Mar 10)
10:00 PM GMT (Mar 09) / 11:00 AM LOCAL
MON, MAR 11 2024
Malaysia Open T20I Championship, 2024
                                

                                
                                
                                
                                 </font></td>
                                 <td><font face="Verdana",Geneva,sans-serif color="BLACK" size="3" >Our services
                                    We offer the full spectrum of services to help organizations work better. Everything from creating standards of excellence to training your people to work in more effective ways, assessing how you’re doing, and helping you perform even better in future. Very few others do this, and none have been doing it as long as we have.</font></td>
                   
                            
                        
                        </tr>

                    
                  

    </body>
    <footer>
        <table width ="100%" height="60" border="0" cellspacing="5" cellpadding="5" bgcolor="#000000">
            <tr>
                <td align="left" >
                    
                    <table width="100%" border="0" align="center" cellpadding="1" cellspacing="1" >


                        <td width="76"><font face="Verdana, Geneva ,sans-serif" color="white"><h3>ABOUT US</h3></font></td>
                        <td width="76"><font face="Verdana, Geneva ,sans-serif" color="white"><h3>GRIEVANCE</h3></font></td>
                        <td width="76"><font face="Verdana, Geneva ,sans-serif" color="white"><h3>REFUND POLICY</h3></font></td>


                        
                        




                            
                              
                          
                          
                        
                    </table>
                </td>
            </tr>
        </table>
    </footer>
</html>